Mindroom Course/ICTWEB518 - Build a document using extensible markup language/class2-bookshelf.DTD


<!ELEMENT bookshelf (book)+>
<!ATTLIST bookshelf
  xmlns CDATA #FIXED ''>

<!ELEMENT book (title,author,review,rating)>
<!ATTLIST book
  xmlns CDATA #FIXED ''
  id CDATA #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ATTLIST title
  xmlns CDATA #FIXED ''>

<!ELEMENT author (#PCDATA)>
<!ATTLIST author
  xmlns CDATA #FIXED ''>

<!ELEMENT review (#PCDATA)>
<!ATTLIST review
  xmlns CDATA #FIXED ''>

<!ELEMENT rating (#PCDATA)>
<!ATTLIST rating
  xmlns CDATA #FIXED ''>
